# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# OS / editor
.DS_Store
.vscode/
.idea/

# Development folders
notebooks/
outputs/

# Large training datasets
*.parquet

# Keep deployment files
!data/demo_stream.csv

# Exclude training datasets
data/train.parquet
data/val.parquet
data/test.parquet

# Keep all deployment models
!models/*.pkl
!models/*.keras

# Optional
Thumbs.db